
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333; 
}

.title {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Umbruch für kleinere Bildschirme z.B. Handys */
  justify-content: center; 
  align-items: flex-start;
  margin-top: 20px;
}

/* Dropdown-Menü */
#selectCity {
  margin-right: 10px;
  margin-bottom: 10px; /* Abstand unterhalb des Dropdown-Menüs */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
}


.diagramme {
  margin: 20px;
  width: calc(50% - 40px); 
}


#choseDay {
  text-align: center;
  margin-bottom: 20px; 
}


#choseDay table {
  margin: 0 auto;
}

#choseDay td {
  border-bottom: 1px solid #ccc;
}

#choseDay label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Stil für die Tageauswahl */
#choseDay label {
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

/* Stil für die Tageauswahl: Checked */
#choseDay label input[type="radio"]:checked + span {
  font-weight: bold;
  background-color: #ccc;
}

.info {
  text-align: center;
  margin: 20px;
  width: calc(50% - 40px); /* Breite des Info-Bereichs mit Abstand */
}

.info div {
  margin-top: 10px;
}

#icon {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Stil für die Wetterinformationen */
.temp {
  font-size: 24px;
  font-weight: bold;
}

.rain {
  font-size: 16px;
}

/* Responsives Design */
@media (max-width: 768px) {
  .diagramme,
  .info {
    width: calc(100% - 40px); /* Diagramme und Info-Bereich nehmen bei kleineren Bildschirmen die volle Breite ein mit Abstand */
  }
}
